// === Button ===

:root {
  // Vars
  .btn {
    --bs-btn-padding-x: 1.125rem;
    --bs-btn-padding-y: 0.4375rem;
    --bs-btn-font-family: Nunito,sans-serif;
    --bs-btn-font-size: 0.8125rem;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.25rem;
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 4px;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(16, 25, 36, 0.075);
    --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    --bs-btn-disabled-opacity: 0.5;
  }

  // Colors
  .btn--primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6576ff;
    --bs-btn-border-color: #6576ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5664d9;
    --bs-btn-hover-border-color: #515ecc;
    --bs-btn-focus-shadow-rgb: 124, 139, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #515ecc;
    --bs-btn-active-border-color: #4c59bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6576ff;
    --bs-btn-disabled-border-color: #6576ff;
  }

  .btn--secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #364a63;
    --bs-btn-border-color: #364a63;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2e3f54;
    --bs-btn-hover-border-color: #2b3b4f;
    --bs-btn-focus-shadow-rgb: 84, 101, 122;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2b3b4f;
    --bs-btn-active-border-color: #29384a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #364a63;
    --bs-btn-disabled-border-color: #364a63;
  }

  .btn--success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1ee0ac;
    --bs-btn-border-color: #1ee0ac;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1abe92;
    --bs-btn-hover-border-color: #18b38a;
    --bs-btn-focus-shadow-rgb: 64, 229, 184;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #18b38a;
    --bs-btn-active-border-color: #17a881;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1ee0ac;
    --bs-btn-disabled-border-color: #1ee0ac;
  }

  .btn--info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #09c2de;
    --bs-btn-border-color: #09c2de;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #08a5bd;
    --bs-btn-hover-border-color: #079bb2;
    --bs-btn-focus-shadow-rgb: 46, 203, 227;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #079bb2;
    --bs-btn-active-border-color: #0792a7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #09c2de;
    --bs-btn-disabled-border-color: #09c2de;
  }

  .btn--warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f4bd0e;
    --bs-btn-border-color: #f4bd0e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cfa10c;
    --bs-btn-hover-border-color: #c3970b;
    --bs-btn-focus-shadow-rgb: 246, 199, 50;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c3970b;
    --bs-btn-active-border-color: #b78e0b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f4bd0e;
    --bs-btn-disabled-border-color: #f4bd0e;
  }

  .btn--danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e85347;
    --bs-btn-border-color: #e85347;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c5473c;
    --bs-btn-hover-border-color: #ba4239;
    --bs-btn-focus-shadow-rgb: 235, 109, 99;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ba4239;
    --bs-btn-active-border-color: #ae3e35;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e85347;
    --bs-btn-disabled-border-color: #e85347;
  }

  .btn--light {
    --bs-btn-color: #000;
    --bs-btn-bg: #e5e9f2;
    --bs-btn-border-color: #e5e9f2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c3c6ce;
    --bs-btn-hover-border-color: #b7bac2;
    --bs-btn-focus-shadow-rgb: 195, 198, 206;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b7bac2;
    --bs-btn-active-border-color: #acafb6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #e5e9f2;
    --bs-btn-disabled-border-color: #e5e9f2;
  }

  .btn--dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1f2b3a;
    --bs-btn-border-color: #1f2b3a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #414b58;
    --bs-btn-hover-border-color: #35404e;
    --bs-btn-focus-shadow-rgb: 65, 75, 88;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4c5561;
    --bs-btn-active-border-color: #35404e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1f2b3a;
    --bs-btn-disabled-border-color: #1f2b3a;
  }

  .btn--default {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
  }
}
